@font-face {
	font-family: Sohne;
	src: url(files/Sohne-Extraleicht.woff2);
	font-weight: 100;
}

@font-face {
	font-family: Sohne;
	src: url(files/Sohne-Extrafett.woff2);
	font-weight: 900
}

@font-face {
	font-family: Sohne;
	src: url(files/Sohne-ExtrafettKursiv.woff2);
	font-weight: 900;
	font-style: italic;
}

* { box-sizing: border-box; }

body {
	margin: 0;
	color: #5b3693;
	background: #eecaf9;
	font-family: "Sohne", sans-serif;
	line-height: 0.8;
}

a:link, a:visited {
	color: inherit;
	font-weight: 900;
}

video, image.main {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	pointer-events: none;
}

@media (prefers-reduced-motion) {
	video {
		display: none;
	}
}

header {
	width: 100vmin;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10vmin;

	color: #BE3E4F;
}

main {
	mix-blend-mode: color-burn;
}

h1, h2 {
	font-size: 20vmin;
	font-style: italic;
}

h1, h2, h3, .big {
	-webkit-text-stroke: calc(0.002em + 0.5px) #9A1860;
	text-transform: uppercase;
	font-weight: 900;
}

h1, h2, h3 {
	margin: 0;
}

h3 {
	font-size: 1.6em;
}

article, header {
	padding: 2rem;
}

article {
	min-width: 50vh;
	font-size: 1.6em;
}

@media (min-width: 150vh) {
	header {
		position: fixed;
		height: 100vmin;
	}

	article {
		position: absolute;
		left: 100vh;
		right: 0;
	}
}

article h3:not(:first-child) {
	margin-top: 1em;
}

article iframe {
	width: 100%;
	max-width: 40rem;
	border-radius: 1rem;
}

iframe[src^="https://www.youtube.com"] {
	aspect-ratio: 16 / 9;
}

iframe[src^="https://open.spotify.com"] {
	height: 30rem;
}
